.equasions {
  height: 820px;
  width: 560px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  overflow: scroll;
  margin: 20px auto;
}